{% extends "template.html" %}
{% block conteudo %}
            <a class="btn btn-primary btn-lg" href="{{ url_for('novo') }}">Novo Jogo</a>
            <br><br>
            <table class="table table-striped">
                <thead class="thead-default">
                    <tr>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Console</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for jogo in jogos %}
                    <tr>
                        <td>{{ jogo.nome }}</td>
                        <td>{{ jogo.categoria }}</td>
                        <td>{{ jogo.console }}</td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="{{ url_for('editar', id=jogo.id) }}">Editar</a>
                            <a class="btn btn-danger btn-sm" href="{{ url_for('deletar', id=jogo.id) }}">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
{% endblock %}